## Day1 - What is Programming and Python

## What is programming

Programming is a way for us to tell computers what to do. Computer is a very dumb machine and it only does what we tell it to do. Hence we learn programming and tell computers to do what we are very slow at - computation. If I ask you to calculate 5+6, you will immediately say 11. How about 23453453 X 56456?

You will start searching for a calculator or jump to a new tab to calculate the same. This 100 days of code series will help you learn python from starting to the end. We will start from 0 and by the time we end this course, I promise you will be a Job ready Python developer!

## What Is Python

(i). Python is a dynamically typed, general purpose programming language that supports an object-oriented programming approach as well as a functional programming approach.

(ii). Python is an interpreted and a high-level programming language.

(iii). It was created by Guido Van Rossum in 1989.

In [1]:
print("hello world , Let's get started 100days challenge")

hello world , Let's get started 100days challenge

## Day 2 python applications

1. jarvis  , 2. webApp

## Day 3 module and Pip

In [2]:
import pandas  # This is an example of external module
import hashlib  # This is an example of built in module

print("Hi")

# Dont worry about how to use these modules just yet!
pandas.read_csv("ipl.csv")
m = hashlib.sha256()

Hi

## Day 4 Our First Program

Today we will write our first ever python program from scratch. It will consist of a bunch of print statements. print can be used to print something on the console in python

In [3]:
print("Hello World", 7)
print(5)
print("Bye")
print(17*13)

Hello World 7
5
Bye
221

## Day 5 Comments, Escape sequence & Print in Python

Sigle Line comments

In [4]:
#This is a 'Single-Line Comment'
print("This is a print statement.")

This is a print statement.

In [5]:
print("Hello World !!!") #Printing Hello World

Hello World !!!

Multi-Line comments

In [6]:
#It will execute a block of code if a specified condition is true.
#If the condition is false then it will execute another block of code.
p = 7
if (p > 5):
    print("p is greater than 5.")
else:
    print("p is not greater than 5.")

p is greater than 5.

In [7]:
"""This is an if-else statement.
It will execute a block of code if a specified condition is true.
If the condition is false then it will execute another block of code."""
p = 7
if (p > 5):
    print("p is greater than 5.")
else:
    print("p is not greater than 5.")

p is greater than 5.

## Escape Sequence Characters

In [8]:
# print("This doesnt "execute")
print("This will \" execute")

This will " execute

In [9]:
print("Hey I am good boy \n and this viewer also good boy")
# author : pankaj 
# time : 08 pm
# coures : 100days of code 

''' pankaj pandey this is multiline comment''' # mulitiline comment
# Escape sequence character
print("hey I am \"good boy \"\n and you are also  good boy")
print("hey",6, sep="~", end="009\n")

Hey I am good boy
 and this viewer also good boy
hey I am "good boy "
 and you are also  good boy
hey~6009

## Day 6 Variables and Data Types

Variables : - Variable is like a container that holds data. Very similar to how our containers in kitchen holds sugar, salt etc Creating a variable is like creating a placeholder in memory and assigning it some value. In Python its as easy as writing

In [10]:
a = 1
b = True
c = "Harry"
d = None
a = 1
print(type(a))
b = "1"
print(type(b))

<class 'int'>
<class 'str'>

#  Sequenced data: list, tuple

In [11]:
list1 = [8, 2.3, [-4, 5], ["apple", "banana"]]
print(list1)

[8, 2.3, [-4, 5], ['apple', 'banana']]

In [12]:
tuple1 = (("parrot", "sparrow"), ("Lion", "Tiger"))
print(tuple1)

(('parrot', 'sparrow'), ('Lion', 'Tiger'))

 ## . Mapped data: dict

In [13]:
dict1 = {"name":"Sakshi", "age":20, "canVote":True}
print(dict1)

{'name': 'Sakshi', 'age': 20, 'canVote': True}

## Day 7 Exercise create calculater

In [14]:
n = 15
m = 7
ans1 = n+m
print("Addition of",n,"and",m,"is", ans1)
ans2 = n-m
print("Subtraction of",n,"and",m,"is", ans2)
ans3 = n*m
print("Multiplication of",n,"and",m,"is", ans3)
ans4 = n/m
print("Division of",n,"and",m,"is", ans4)
ans5 = n%m
print("Modulus of",n,"and",m,"is", ans5)
ans6 = n//m
print("Floor Division of",n,"and",m,"is", ans6)

Addition of 15 and 7 is 22
Subtraction of 15 and 7 is 8
Multiplication of 15 and 7 is 105
Division of 15 and 7 is 2.142857142857143
Modulus of 15 and 7 is 1
Floor Division of 15 and 7 is 2

## Day 8

In [15]:
a = 50
b = 3

print("The value of", a, "+", 3, "is: ", a + b)
print("The value of", a, "-", 3, "is: ", a - b)
print("The value of", a, "*", 3, "is: ", a * b)
print("The value of", a, "/", 3, "is: ", a / b)

The value of 50 + 3 is:  53
The value of 50 - 3 is:  47
The value of 50 * 3 is:  150
The value of 50 / 3 is:  16.666666666666668

## Day 9 Typecasting in Python

The conversion of one data type into the other data type is known as type casting in python or type conversion in python.

Python supports a wide variety of functions or methods like: int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc. for the type casting in python.

## Two Types Typecasting:

## Explicit typecasting:

The conversion of one data type into another data type, done via developer or programmer's intervention or manually as per the requirement, is known as explicit type conversion.

It can be achieved with the help of Python’s built-in type conversion functions such as int(), float(), hex(), oct(), str(), etc .

In [16]:
string = "15"
number = 7
string_number = int(string) #throws an error if the string is not a valid integer
sum= number + string_number
print("The Sum of both the numbers is: ", sum)

The Sum of both the numbers is:  22

## Implicit type casting:

Data types in Python do not have the same level i.e. ordering of data types is not the same in Python. Some of the data types have higher-order, and some have lower order. While performing any operations on variables with different data types in Python, one of the variable's data types will be changed to the higher data type. According to the level, one data type is converted into other by the Python interpreter itself (automatically). This is called, implicit typecasting in python.

Python converts a smaller data type to a higher data type to prevent data loss.

In [17]:
# Python automatically converts
# a to int
a = 7
print(type(a))
 
# Python automatically converts b to float
b = 3.0
print(type(b))
 
# Python automatically converts c to float as it is a float addition
c = a + b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10.0
<class 'float'>

## Day 10 - Taking User Input

In [18]:
# variable=input()

In [19]:
# variable=int(input())
# variable=float(input())

In [20]:
# a=input("Enter the name: ")
# print(a)

## Day 11 Strings

In python, anything that you enclose between single or double quotation marks is considered a string. A string is essentially a sequence or array of textual data. Strings are used when working with Unicode characters.

In [37]:
name = "Harry"
print("Hello, " + name)

Hello, Harry

In [38]:
print('He said, "I want to eat an apple".')

He said, "I want to eat an apple".

In [39]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Accessing Characters of a String

In [40]:
print(name[0])
print(name[1])

H
a

In [41]:
for character in name:
    print(character)

H
a
r
r
y

## Day 12 String Slicing

## Length of string

We can find the length of a string using len() function.

In [42]:
fruit = "Mango"
len1 = len(fruit)
print("Mango is a", len1, "letter word.")

Mango is a 5 letter word.

In [43]:
pie = "ApplePie"
print(pie[:5])
print(pie[6])	#returns character at specified index

Apple
i

In [44]:
pie = "ApplePie"
print(pie[:5])      #Slicing from Start
print(pie[5:])      #Slicing till End
print(pie[2:6])     #Slicing in between
print(pie[-8:])     #Slicing using negative index

Apple
Pie
pleP
ApplePie

In [45]:
alphabets = "ABCDE"
for i in alphabets:
    print(i)

A
B
C
D
E

In [48]:
fruit = "Mango"
mangoLen = len(fruit)
print(mangoLen)
print(fruit[0:4]) # including 0 but not 4
print(fruit[1:4]) # including 1 but not 4
print(fruit[:5])
print(fruit[0:-3])
print(fruit[:len(fruit)-3])
print(fruit[-1:len(fruit) - 3])
print(fruit[-3:-1])

# Quick Quiz:
nm = "Harry"
print(nm[-4:-2])

5
Mang
ang
Mango
Ma
Ma

ng
ar

# Day 13

## String Methods

# 1. upper()

The upper() method converts a string to upper case.

In [21]:
str1 = "AbcDEfghIJ"
print(str1.upper())

ABCDEFGHIJ

# 2. lower()

The lower() method converts a string to lower case.

In [22]:
str1 = "AbcDEfghIJ"
print(str1.lower())

abcdefghij

# 3. strip()

The strip() method removes any white spaces before and after the string.

In [23]:
str2 = "Silver Spoon "
print(str2.strip())

Silver Spoon

# 4. rstrip()

the rstrip() removes any trailing characters.

In [24]:
str3 = "Hello !!!"
print(str3.rstrip("!"))

Hello

# 5. replace() :

The replace() method replaces all occurences of a string with another string.

In [25]:
str2 = "Silver Spoon"
print(str2.replace("Sp", "M"))

Silver Moon

# 6. split() :

The split() method splits the given string at the specified instance and returns the separated strings as list items.

In [26]:
str2 = "Silver Spoon"
print(str2.split(" "))      #Splits the string at the whitespace " ".

['Silver', 'Spoon']

## 7. capitalize() :

The capitalize() method turns only the first character of the string to uppercase and the rest other characters of the string are turned to lowercase. The string has no effect if the first character is already uppercase.

In [27]:
str1 = "hello"
capStr1 = str1.capitalize()
print(capStr1)
str2 = "hello WorlD"
capStr2 = str2.capitalize()
print(capStr2)

Hello
Hello world

## 8. center()

The center() method aligns the string to the center as per the parameters given by the user.

In [28]:
str1 = "Welcome to the Console!!!"
print(str1.center(50))

            Welcome to the Console!!!

We can also provide padding character. It will fill the rest of the fill characters provided by the user.

In [29]:
str1 = "Welcome to the Console!!!"
print(str1.center(50, "."))

............Welcome to the Console!!!.............

## 9. count()

The count() method returns the number of times the given value has occurred within the given string.

In [30]:
str2 = "Abracadabra"
countStr = str2.count("a")
print(countStr)

4

## 10. endswith()

The endswith() method checks if the string ends with a given value. If yes then return True, else return False.

In [31]:
str1 = "Welcome to the Console !!!"
print(str1.endswith("!!!"))

True

We can even also check for a value in-between the string by providing start and end index positions.

In [32]:
str1 = "Welcome to the Console !!!"
print(str1.endswith("to", 4, 10))

True

## 11. find()

The find() method searches for the first occurrence of the given value and returns the index where it is present. If given value is absent from the string then return -1.

In [33]:
str1 = "He's name is Dan. He is an honest man."
print(str1.find("is"))

10

As we can see, this method is somewhat similar to the index() method. The major difference being that index() raises an exception if value is absent whereas find() does not.

In [34]:
str1 = "He's name is Dan. He is an honest man."
print(str1.find("Daniel"))

-1

## 12. index()

The index() method searches for the first occurrence of the given value and returns the index where it is present. If given value is absent from the string then raise an exception

In [35]:
str1 = "He's name is Dan. Dan is an honest man."
print(str1.index("Dan"))

13

As we can see, this method is somewhat similar to the find() method. The major difference being that index() raises an exception if value is absent whereas find() does not.

In [36]:
str1 = "He's name is Dan. Dan is an honest man."
print(str1.index("Daniel"))

ValueError: substring not found

## 13. isalnum()

The isalnum() method returns True only if the entire string only consists of A-Z, a-z, 0-9. If any other characters or punctuations are present, then it returns False.

In [ ]:
str1 = "WelcomeToTheConsole"
print(str1.isalnum())

## 14. isalpha()

The isalnum() method returns True only if the entire string only consists of A-Z, a-z. If any other characters or punctuations or numbers(0-9) are present, then it returns False.

In [ ]:
str1 = "Welcome"
print(str1.isalpha())

## 15. islower()

The islower() method returns True if all the characters in the string are lower case, else it returns False.

In [ ]:
str1 = "hello world"
print(str1.islower())

## 16. isprintable()

The isprintable() method returns True if all the values within the given string are printable, if not, then return False.

In [ ]:
str1 = " We wish you a Merry Christmas"
print(str1.isprintable())

## 17. isspace()

The isspace() method returns True only and only if the string contains white spaces, else returns False.

In [ ]:
str1 = "        "       #using Spacebar
print(str1.isspace())
str2 = "        "       #using Tab
print(str2.isspace())

## 18. istitle()

The istitile() returns True only if the first letter of each word of the string is capitalized, else it returns False.

In [ ]:
str1 = "World Health Organization" 
print(str1.istitle())

In [ ]:
str2 = "To kill a Mocking bird"
print(str2.istitle())

## 19. isupper()

The isupper() method returns True if all the characters in the string are upper case, else it returns False.

In [ ]:
str1 = "WORLD HEALTH ORGANIZATION" 
print(str1.isupper())

# 20. startswith()

The endswith() method checks if the string starts with a given value. If yes then return True, else return False.

In [ ]:
str1 = "Python is a Interpreted Language" 
print(str1.startswith("Python"))

## 21. swapcase()

The swapcase() method changes the character casing of the string. Upper case are converted to lower case and lower case to upper case.

In [ ]:
str1 = "Python is a Interpreted Language" 
print(str1.swapcase())

# 22. title()

The title() method capitalizes each letter of the word within the string

In [ ]:
str1 = "He's name is Dan. Dan is an honest man."
print(str1.title())

## Day 14  10 dec 2022

## if-else Statements

Sometimes the programmer needs to check the evaluation of certain expression(s), whether the expression(s) evaluate to True or False. If the expression evaluates to False, then the program execution follows a different path than it would have if the expression had evaluated to True.

Based on this, the conditional statements are further classified into following types:

if
if-else
if-else-elif
nested if-else-elif.
An if……else statement evaluates like this:
if the expression evaluates True:
Execute the block of code inside if statement. After execution return to the code out of the if……else block.\

if the expression evaluates False:
Execute the block of code inside else statement. After execution return to the code out of the if……else block.

In [ ]:
applePrice = 210
budget = 200
if (applePrice <= budget):
    print("Alexa, add 1 kg Apples to the cart.")
else:
    print("Alexa, do not add Apples to the cart.")

In [ ]:
applePrice = 10
budget = 200
if (budget - applePrice > 50):
    print("Alexa, add 1 kg Apples to the cart.")
else:
    print("Alexa, do not add Apples to the cart.")

## elif Statements

Sometimes, the programmer may want to evaluate more than one condition, this can be done using an elif statement.

Working of an elif statement
Execute the block of code inside if statement if the initial expression evaluates to True. After execution return to the code out of the if block.

Execute the block of code inside the first elif statement if the expression inside it evaluates True. After execution return to the code out of the if block.

Execute the block of code inside the second elif statement if the expression inside it evaluates True. After execution return to the code out of the if block.
.
.
.
Execute the block of code inside the nth elif statement if the expression inside it evaluates True. After execution return to the code out of the if block.

Execute the block of code inside else statement if none of the expression evaluates to True. After execution return to the code out of the if block.

In [ ]:
num = 0
if (num < 0):
    print("Number is negative.")
elif (num == 0):
    print("Number is Zero.")
else:
    print("Number is positive.")

## Nested if Statements

We can use if, if-else, elif statements inside other if statements as well.

In [ ]:
num = 18
if (num < 0):
    print("Number is negative.")
elif (num > 0):
    if (num <= 10):
        print("Number is between 1-10")
    elif (num > 10 and num <= 20):
        print("Number is between 11-20")
    else:
        print("Number is greater than 20")
else:
    print("Number is zero")

## Day 15

Some Exercise

Create a python program capable of greeting you with Good Morning, Good Afternoon and Good Evening. Your program should use time module to get the current hour

In [1]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)
# https://docs.python.org/3/library/time.html#time.strftime

11:41:06
11
41
06

## Day 16 11-dec-2022

Match Case Statements

To implement switch-case like characteristics very similar to if-else functionality, we use a match case in python. If you are coming from a C, C++ or Java like language, you must have heard of switch-case statements

The match case consists of three main entities :

1. The match keyword
2. One or more case clauses
3. Expression for each case

Syntax :--

match variable_name:

            case ‘pattern1’ : //statement1
            case ‘pattern2’ : //statement2
            …            
            case ‘pattern n’ : //statement n

In [6]:
x = 4
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    # case with if-condition
    case 4 if x % 2 == 0:
        print("x % 2 == 0 and case is 4")
    # Empty case with if-condition
    case _ if x < 10:
        print("x is < 10")
    # default case(will only be matched if the above cases were not matched)
    # so it is basically just an else:
    case _:
        print(x)

x % 2 == 0 and case is 4

In [7]:
x = int(input("Enter the value of x: "))
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    # case with if-condition
    case 4:
        print("case is 4")

    case _ if x!=90:
        print(x, "is not 90")
    case _ if x!=80:
        print(x, "is not 80")
    case _:
        print(x)

Enter the value of x: 5
5 is not 90

## Day 17 -for loop

Introduction to Loops

Sometimes a programmer wants to execute a group of statements a certain number of times. This can be done using loops. Based on this loops are further classified into following main types;

1. for loop
2. while loop

The for Loop

In [8]:
name = 'Abhishek'
for i in name:
    print(i, end=", ")

A, b, h, i, s, h, e, k,

In [9]:
colors = ["Red", "Green", "Blue", "Yellow"]
for x in colors:
    print(x)

Red
Green
Blue
Yellow

In [10]:
for k in range(5):
    print(k)

0
1
2
3
4

In [11]:
for k in range(4,9):
    print(k)

4
5
6
7
8

## Day 18 - while loop

Python while Loop

As the name suggests, while loops execute statements while the condition is True. As soon as the condition becomes False, the interpreter comes out of the while loop.

In [12]:
count = 5
while (count > 0):
  print(count)
  count = count - 1

5
4
3
2
1

In [13]:
x = 5
while (x > 0):
    print(x)
    x = x - 1
else:
    print('counter is 0')

5
4
3
2
1
counter is 0

Do While loop in python

In [14]:
while True:
  number = int(input("Enter a positive number: "))
  print(number)
  if not number > 0:
    break

Enter a positive number: 2
2
Enter a positive number: -1
-1

## Day 19- Break and continue

break statement

The break statement enables a program to skip over a part of the code. A break statement terminates the very loop it lies within

In [18]:
for i in range(1,11,1):
    print(i ,end=" ")
    if(i==9):
        break
    else:
        print("Mississippi")
print("Thank you")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
6 Mississippi
7 Mississippi
8 Mississippi
9 Thank you

Continue Statement:

The continue statement skips the rest of the loop statements and causes the next iteration to occur.

In [19]:
for i in [2,3,4,6,8,0]:
    if (i%2!=0):
        continue
    print(i)

2
4
6
8
0

## Day 20 - Function

Python Functions
A function is a block of code that performs a specific task whenever it is called. In bigger programs, where we have large amounts of code, it is advisable to create or use existing functions that make the program flow organized and neat.

There are two types of functions :

1. Built-in function : 

   min(), max(), len(), sum(), type(), range(), dict(), list(), tuple(), set(), print(), etc
2. User Defined function:

   def function_name(parameters):
  pass
   //Code and Statements

In [21]:
def name(fname, lname):
    print("Hello,", fname, lname)

name("Sam", "Wilson")

Hello, Sam Wilson

In [22]:
def calculateGmean(a, b):
  mean = (a*b)/(a+b)
  print(mean)

def isGreater(a, b):
  if(a>b):
    print("First number is greater")
  else:
    print("Second number is greater or equal")

def isLesser(a, b):
  pass
  

a = 9
b = 8
isGreater(a, b)
calculateGmean(a, b)
# gmean1 = (a*b)/(a+b)
# print(gmean1)
c = 8
d = 74
isGreater(c, d)
calculateGmean(c, d)
# gmean2 = (c*d)/(c+d)
# print(gmean2)

First number is greater
4.235294117647059
Second number is greater or equal
7.219512195121951

## Day 21 - Function Arguments

Function Arguments and return statement

There are four types of arguments that we can provide in a function:

  (i)   Default Arguments
  
  (ii)  Keyword Arguments
  
  (iii) Variable length Arguments
  
  (iv)  Required Arguments

## Default Arguments  :

We can provide a default value while creating a function. This way the function assumes a default value even if a value is not provided in the function call for that argument.

In [24]:
def name(fname, mname = "Jhon", lname = "Whatson"):
    print("Hello,", fname, mname, lname)

name("Amy")

Hello, Amy Jhon Whatson

## Keyword Arguments :

We can provide arguments with key = value, this way the interpreter recognizes the arguments by the parameter name. Hence, the the order in which the arguments are passed does not matter.

In [25]:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name(mname = "Peter", lname = "Wesker", fname = "Jade")

Hello, Jade Peter Wesker

## Required Arguments :

In case we don’t pass the arguments with a key = value syntax, then it is necessary to pass the arguments in the correct positional order and the number of arguments passed should match with actual function definition.

Example 1: when number of arguments passed does not match to the actual function definition.

In [27]:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name("Peter", "Quill" )

Hello, Peter Quill hey

Example 2: when number of arguments passed matches to the actual function definition

In [28]:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name("Peter", "Ego", "Quill")

Hello, Peter Ego Quill

## Variable-length arguments:

Sometimes we may need to pass more arguments than those defined in the actual function. This can be done using variable-length arguments.

There are two ways to achieve this:

## Arbitrary Arguments:

While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of tuple.

In [29]:
def name(*name):
    print("Hello,", name[0], name[1], name[2])

name("James", "Buchanan", "Barnes")

Hello, James Buchanan Barnes

## Keyword Arbitrary Arguments:
While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of dictionary.

In [32]:
def name(**name):
    print("Hello,", name["fname"], name["mname"], name["lname"])

name(mname = "Buchanan", lname = "Barnes", fname = "James")

Hello, James Buchanan Barnes

## return Statement
The return statement is used to return the value of the expression back to the calling function.

In [ ]:
def name(fname, mname, lname):
    return "Hello, " + fname + " " + mname + " " + lname

print(name("Pankaj", "Kumar", "pandey"))

Hello, James Buchanan Barnes

## Day 22 - Introduction to List

## Python Lists
1. Lists are ordered collection of data items.

2. They store multiple items in a single variable.

3. List items are separated by commas and enclosed within square brackets [].

4. Lists are changeable meaning we can alter them after creation.

In [33]:
lst1 = [1,2,2,3,5,4,6]
lst2 = ["Red", "Green", "Blue"]
print(lst1)
print(lst2)

[1, 2, 2, 3, 5, 4, 6]
['Red', 'Green', 'Blue']

In [34]:
details = ["Abhijeet", 18, "FYBScIT", 9.8]
print(details)

['Abhijeet', 18, 'FYBScIT', 9.8]

## List Index
Each item/element in a list has its own unique index. This index can be used to access any particular item from the list. The first item has index [0], second item has index [1], third item has index [2] and so on.

In [36]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [0]      [1]     [2]      [3]      [4]
print(colors[4])

Green

## Accessing list items
We can access list items by using its index with the square bracket syntax []. For example colors[0] will give "Red", colors[1] will give "Green" and so on...

## Positive Indexing:
As we have seen that list items have index, as such we can access items using these indexes.

In [37]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [0]      [1]     [2]      [3]      [4]
print(colors[2])
print(colors[4])
print(colors[0])

Blue
Green
Red

## Negative Indexing:
Similar to positive indexing, negative indexing is also used to access items, but from the end of the list. The last item has index [-1], second last item has index [-2], third last item has index [-3] and so on.

In [38]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [-5]    [-4]    [-3]     [-2]      [-1]
print(colors[-1])
print(colors[-3])
print(colors[-5])

Green
Blue
Red

## Check whether an item in present in the list?

We can check if a given item is present in the list. This is done using the in keyword

In [39]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
if "Yellow" in colors:
    print("Yellow is present.")
else:
    print("Yellow is absent.")

Yellow is present.

## Range of Index:
You can print a range of list items by specifying where you want to start, where do you want to end and if you want to skip elements in between the range.

listName[start : end : jumpIndex]

## Example: printing elements within a particular range:

In [41]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[3:7])	#using positive indexes
print(animals[-7:-2])	#using negative indexes'

['mouse', 'pig', 'horse', 'donkey']
['bat', 'mouse', 'pig', 'horse', 'donkey']

## Example: printing all element from a given index till the end

In [42]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[4:])	#using positive indexes
print(animals[-4:])	#using negative indexes

['pig', 'horse', 'donkey', 'goat', 'cow']
['horse', 'donkey', 'goat', 'cow']

## Example: printing all elements from start to a given ind

In [43]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[:6])	#using positive indexes
print(animals[:-3])	#using negative indexes

['cat', 'dog', 'bat', 'mouse', 'pig', 'horse']
['cat', 'dog', 'bat', 'mouse', 'pig', 'horse']

## Example: Printing alternate values

In [44]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[::2])		#using positive indexes
print(animals[-8:-1:2])	#using negative indexes

['cat', 'bat', 'pig', 'donkey', 'cow']
['dog', 'mouse', 'horse', 'goat']

## Example: printing every 3rd consecutive value withing a given range

In [45]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[1:8:3])

['dog', 'pig', 'goat']

## List Comprehension
List comprehensions are used for creating new lists from other iterables like lists, tuples, dictionaries, sets, and even in arrays and strings.

## Syntax:
List = [Expression(item) for item in iterable if Condition]

Expression: It is the item which is being iterated.

Iterable: It can be list, tuples, dictionaries, sets, and even in arrays and strings.

Condition: Condition checks if the item should be added to the new list or not.

## Example 1: Accepts items with the small letter “o” in the new list

In [46]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_O = [item for item in names if "o" in item]
print(namesWith_O)

['Milo', 'Bruno', 'Rosa']

## Example 2: Accepts items which have more than 4 letters

In [47]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_O = [item for item in names if (len(item) > 4)]
print(namesWith_O)

['Sarah', 'Bruno', 'Anastasia']